.sign-up-wrapper {
  h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
  }
  p {
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: #636363;
  }
  .main-image {
    width: 300px;
    height: 300px;
    border-radius: 12px;
  }
  .profile {
    width: 80px;
    height: 80px;
  }
  .profile2 {
    width: 71.92px;
    height: 71.92px;
  }
  .bottom-image {
    width: 194.55px;
    height: 214px;
    border-radius: 12px;
  }
  .right-image {
    width: 240.95px;
    height: 265.04px;
    border-radius: 12px;
  }
  .sign-up-btn {
    padding: 20px 40px;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.065em;
    color: #ffffff;
  }
}
