.all-nft-wrapper {
  background: rgba(217, 224, 236, 0.2);

  h1 {
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;
  }
  .all-btn {
    padding: 10px 20px;
    background: #3d00b7;
    border-radius: 100px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
  }
  .category-btn,
  .filter-btn {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    padding: 10px 20px;
  }
  .category-btn {
    color: #000000;
    &:focus {
      background: #3d00b7;
      color: #ffffff !important;
    }
  }
  .filter-btn {
    color: #371c87;
    .filter-icon {
      font-weight: 700;
      font-size: 24px !important;
    }
  }
  .card {
    width: 269.88px;
    height: 373px;
    background: #ffffff;
    border: 1.09706px solid rgba(242, 242, 242, 0.5);
    border-radius: 13.1647px;

    .radius1 {
      border-radius: 13.16px;
    }
    .radius2 {
      border-radius: 11px;
    }
    .radius3 {
      border-radius: 12px;
    }
    .main-image {
      width: 247.94px !important;
      height: 222.7px;
    }
    .profile-image {
      width: 30.72px;
      height: 30.72px;
    }
    .name {
      font-weight: 700;
      font-size: 19.7471px;
      line-height: 19px;
    }
    .nft {
      font-weight: 700;
      font-size: 10.9706px;
      line-height: 14px;
      color: #00ac4f;
      .icon {
        font-size: 15.36px;
      }
    }
    .numbers {
      font-weight: 500;
      font-size: 13.1647px;
      line-height: 19px;
      color: #838383;
    }
    .border-bottom {
      border-bottom: 1.06366px solid #f4f4f4;
    }
    .time-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 4.38824px 10.9706px;
      background: #f5f5f5;
      border-radius: 109.706px;
      font-weight: 700;
      font-size: 10.9706px;
      line-height: 19px;
      color: #5539a8;
    }
    .bid {
      font-weight: 500;
      font-size: 15.3588px;
      line-height: 20px;
      color: #4f33a3;
    }
  }
  .more-btn {
    padding: 20px 40px;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
  }
  .disabled {
    padding: 20px 40px;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: not-allowed;
    color: rgb(174, 174, 174);
    border: 2px solid rgb(197, 197, 197);
  }
}
