// HERO START
.hero-wrapper {
  height: auto !important;
  h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.05em;
  }
  h6 {
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    color: #565656;
  }
  .images {
    height: auto;
    width: 100%;
  }
  .hero-cta-btn {
    align-items: center;
    padding: 20px 40px;
    height: 65px;
    border-radius: 60px;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.065em;
    color: #ffffff;
  }
  .count-up {
    h2 {
      font-weight: 700;
      font-size: 40px;
      line-height: 48px;
      letter-spacing: 0.05em;
    }
    p {
      font-weight: 400;
      font-size: 20px;
      line-height: 32px;
      color: #565656;
    }
  }
  .card {
    height: 350px;
    width: 100%;
    margin: 0px auto;
    background: none !important;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    .card-main-image {
      width: 100%;
      height: 100%;
      border-radius: 24px;
    }
    .card-details {
      width: 100%;
      height: 100%;
      .card-title {
        font-weight: 500;
        font-size: 28px;
        line-height: 36px;
        letter-spacing: -0.05em;
        color: #ffffff;
      }
      .card-profile-image {
        width: 32px;
        height: 32.82px;
      }
      .card-profile-name {
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        color: #ffffff;
      }
      .card-footer {
        position: relative;
        width: 100%;
        min-height: 73.85px;
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(25px);
        border-radius: 12px;
        .footer-title {
          font-weight: 500;
          font-size: 12px;
          line-height: 16px;
          color: #ffffff;
        }
        .footer-nft,
        .footer-time {
          font-size: 16px;
          line-height: 21px;
          color: #ffffff;
        }
        .footer-nft {
          font-weight: 00;
        }
        .footer-time {
          font-weight: 400;
        }
        .icon {
          color: white;
          font-size: 21px;
        }
      }
    }
  }
  .card-stamp {
    position: absolute;
    width: 101px;
    height: 101px;
    left: -30px;
    top: 240px;
    z-index: 60;
  }
}

// MEDIA QUERY
@media only screen and (min-width: 640px) {
  .hero-wrapper {
    .card {
      height: 440px !important;
      width: 400px !important;
      .card-main-image {
        height: 440px !important;
        width: 400px !important;
      }
      .card-footer {
        top: 220px;
      }
    }
  }
}
@media only screen and (min-width: 1024px) {
  .hero-wrapper {
    .card {
      .h1 {
        height: 440px !important;
      }
      .h2 {
        height: 391.6px !important;
        margin: 24.2px 0px;
      }
      .h3 {
        height: 341px !important;
        margin: 49.5px 0px;
      }
    }
  }
}
