.featured-wrapper {
  h1 {
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
  }
  h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
  }
  .main-image {
    width: 265.85px;
    height: 272.27px;
  }
  .main-image-radius1 {
    border-radius: 11.0008px;
  }
  .main-image-radius2 {
    border-radius: 24px;
  }
  .main-image-radius3 {
    border-radius: 12px;
  }
  .side-images {
    width: 103.59px;
    height: 85.26px;
  }
  .side-images-radius1 {
    border-radius: 11.0008px;
  }
  .side-images-radius2 {
    border-radius: 21.36px;
  }
  .side-images-radius3 {
    border-radius: 18.6px;
  }
  .side-images-radius4 {
    border-radius: 12px;
  }
  .profile-image {
    width: 28px;
    height: 28px;
  }
  .name {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
  }
  .total-btn {
    font-weight: 700;
    height: 29px;
    width: 98px;
    font-size: 11.0008px;
    line-height: 14px;
  }
}
