* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// FONTS
@font-face {
  font-family: "Integral CF";
  src: url("https://db.onlinewebfonts.com/t/f1fcc5aed1e20fc0cdb9f8a7573625bd.eot");
  src: url("https://db.onlinewebfonts.com/t/f1fcc5aed1e20fc0cdb9f8a7573625bd.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/f1fcc5aed1e20fc0cdb9f8a7573625bd.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/f1fcc5aed1e20fc0cdb9f8a7573625bd.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/f1fcc5aed1e20fc0cdb9f8a7573625bd.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/f1fcc5aed1e20fc0cdb9f8a7573625bd.svg#Integral CF")
      format("svg");
}
@font-face {
  font-family: "Averta Demo PE";
  src: url("https://db.onlinewebfonts.com/t/3114dbb517b7c67b80e322545c5f565f.eot");
  src: url("https://db.onlinewebfonts.com/t/3114dbb517b7c67b80e322545c5f565f.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/3114dbb517b7c67b80e322545c5f565f.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/3114dbb517b7c67b80e322545c5f565f.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/3114dbb517b7c67b80e322545c5f565f.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/3114dbb517b7c67b80e322545c5f565f.svg#Averta Demo PE")
      format("svg");
}

.button1 {
  color: #ffffff;
  text-align: center;
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3d00b7;
  cursor: pointer;
  transition: 0.3s all;
  box-sizing: border-box;
}
.button2 {
  color: #3d00b7;
  text-align: center;
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #3d00b7;
  cursor: pointer;
  transition: 0.3s all;
  &:hover {
    background: #3d00b7;
    color: #ffffff;
  }
}
.button3 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #2639ed;
  border-radius: 45.595px;
  font-weight: 400;
  color: #ffffff;
}
.button4 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #2639ed;
  border-radius: 60px;
  color: #2639ed;
  &:hover {
    background: #2639ed;
    color: #ffffff;
  }
}
