* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(200, 199, 199);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg, #5500ff, #7734ffd2);
  border-radius: 10px;
}

// FONTS
@font-face {
  font-family: "Integral CF";
  src: url("https://db.onlinewebfonts.com/t/f1fcc5aed1e20fc0cdb9f8a7573625bd.eot");
  src: url("https://db.onlinewebfonts.com/t/f1fcc5aed1e20fc0cdb9f8a7573625bd.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/f1fcc5aed1e20fc0cdb9f8a7573625bd.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/f1fcc5aed1e20fc0cdb9f8a7573625bd.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/f1fcc5aed1e20fc0cdb9f8a7573625bd.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/f1fcc5aed1e20fc0cdb9f8a7573625bd.svg#Integral CF")
      format("svg");
}
@font-face {
  font-family: "Averta Demo PE";
  src: url("https://db.onlinewebfonts.com/t/3114dbb517b7c67b80e322545c5f565f.eot");
  src: url("https://db.onlinewebfonts.com/t/3114dbb517b7c67b80e322545c5f565f.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/3114dbb517b7c67b80e322545c5f565f.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/3114dbb517b7c67b80e322545c5f565f.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/3114dbb517b7c67b80e322545c5f565f.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/3114dbb517b7c67b80e322545c5f565f.svg#Averta Demo PE")
      format("svg");
}

.button1 {
  color: #ffffff;
  text-align: center;
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3d00b7;
  cursor: pointer;
  transition: 0.3s all;
  box-sizing: border-box;
}
.button2 {
  color: #3d00b7;
  text-align: center;
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #3d00b7;
  cursor: pointer;
  transition: 0.3s all;
  &:hover {
    background: #3d00b7;
    color: #ffffff;
  }
}
.button3 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #2639ed;
  border-radius: 45.595px;
  font-weight: 400;
  color: #ffffff;
}
.button4 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #2639ed;
  border-radius: 60px;
  color: #2639ed;
  &:hover {
    background: #2639ed;
    color: #ffffff;
  }
}
.btn-grey {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(220, 220, 220, 0.2);
  border-radius: 100px;
  transition: 0.3s all;
  &:hover {
    background: #3d00b7;
    color: #ffffff !important;
  }
}

// FONT STYLES
.Integral {
  font-family: "Integral CF", sans-serif;
}
.DM {
  font-family: "DM Sans", sans-serif;
}
.Averta {
  font-family: "Averta Demo PE Cutted Demo", sans-serif;
}
.Poppins {
  font-family: "Poppins", sans-serif;
}

// BORDERS
.border-right1 {
  border-right: 1px solid #ececec;
}

.border-right2 {
  border: 1px solid #f4f4f4;
}
