.transaction-wrapper {
  background: rgba(217, 224, 236, 0.2);

  h1 {
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
  }
  img {
    height: 36px;
    width: 36px;
  }
  h6 {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
  }
  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #696969;
  }
}
