@import url(//db.onlinewebfonts.com/c/f1fcc5aed1e20fc0cdb9f8a7573625bd?family=Integral+CF);

$DM: "DM Sans", sans-serif;

.main-footer {
  border: 1px solid #f4f4f4;
  h1 {
    color: #000000;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    font-family: "Integral CF", sans-serif;
  }
  h5 {
    font-family: "DM Sans";
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    text-transform: capitalize;
    color: #000000;
  }
  h6 {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    color: #3d3d3d;
  }
  p {
    font-family: "Averta Demo PE Cutted Demo";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22.4px;
    color: #565656;
  }
  .facebook-icon,
  .linkedin-icon,
  .twitter-icon,
  .linkedin-icon-p {
    height: 36px;
    width: 36px;
    cursor: pointer;
  }
  .facebook-icon {
    color: #3b5998;
  }
  .twitter-icon {
    color: #55acee;
  }
  .linkedin-icon {
    color: #ffffff;
  }
  .linkedin-icon-p {
    background-color: #007ab9;
    border-radius: 100%;
  }
  .invite-message {
    font-family: $DM;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #363639;
  }
  .search-bar {
    width: 100%;
    height: 61px;
    border: 2px solid #efefef;
    border-radius: 100px;
    input {
      background-color: transparent;
      border: none;
      outline: none;
      width: 55%;
      height: 61px;
      border-top-left-radius: 100px;
      border-bottom-left-radius: 100px;
      color: #c0c0c0;
      font-size: 16px;
      font-weight: 500;
      line-height: 21px;
      letter-spacing: 0.04em;
    }
    .footer-cta-btn {
      font-family: $DM;
      font-style: normal;
      padding: 15.1983px 30.3967px;
      height: 46.4px;
      font-size: 12.1587px;
      line-height: 16px;
      letter-spacing: 0.065em;
    }
  }
}

.footer-bottom {
  h6 {
    color: #a4a4a4;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    text-align: center;
    font-family: "Averta Demo PE Cutted Demo";
  }
}
